.card{
  background-color: #fff;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 9%);
  border-radius: 1rem;
  padding: 3.5rem 2.7rem 3rem 3rem;
}

.cards2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}

.card2{
  position: relative;
  width: 42rem;
  border: .5rem solid $color4;
  padding: 3.5rem;
  border-radius: .4rem;
  background-color: $color3;

  &__v-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img{
    text-align: center;
    margin-bottom: 2rem;
    img{
      width: 7.5rem;
    }
    &-bottom{
      padding-bottom: 14rem;
    }

    &_bottom{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &__big-title{
    font-size: 4.8rem;
    line-height: 5.9rem;
    text-align: center;
    color: #6D0F0F;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  &__title{
    text-align: center;
    width: 24rem;
    margin: 0 auto;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $color2;
  }

  &__text{
    font-size: 1.8rem;
    color: $color2;
    margin-top: 2rem;
  }
}

.cards3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.card3{
  display: flex;
  width: 64.5rem;
  border: .1rem solid $color4;
  padding: 1rem;
  border-radius: .4rem;
  background-color: $color3;

  .wrapper{
    flex-direction: column;
    width: 28.4rem;
    justify-content: flex-end;
  }

  &__img{
    width: 32rem;
    height: 22.5rem;
    margin-right: 1.5rem;
  }
  &__title{
    font-size: 1.8rem;
    line-height: 2.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 48em) {
  .card2{
    width: 100%;
    height: 24rem;

    &__img{
      img{
        width: 7rem;
        height: 7rem;
      }
      &-bottom{
        padding-bottom: 16rem;
        height: auto;
        .card2__title{
          width: 100%;
        }
      }
    }
    &__title{
      color: $color2;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 700;
      width: 30rem;
    }

    &__text{
      font-size: 3.2rem;
    }
  }

  .cards3{
      padding: 0 3rem;
  }

  .card3{
    width: 100%;
    flex-direction: column;
    padding: 3rem;

    &__img{
      width: 100%;
      height: 32.2rem;
      margin: 0 0 3rem;

    }

    .wrapper{
      width: 100%;
    }

    &__title{
      font-size: 3.2rem;
      line-height: 1.25;
      padding-bottom: 3rem;
    }
  }

}
