.swiper-full{
  position: relative;
  height: calc( 100vh - 18rem );

  &__slide{
    position: relative;
  }
  &__text{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &_head{
      position: absolute;
      top: 14rem;
      color: #fff;
      background-color: $color1;
      font-size: 3.5em;
      font-weight: bold;
      padding: 1.2rem;
      overflow: hidden;
      transform: translateX(-105%);
      transition: transform 0.3s ease-out 0.3s;
      z-index: 1;
      border-radius: 0 0.3rem 0.3rem 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translateX(0);
        transition: transform 0.3s ease-out .55s;
      }
    }

    &_info{
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      max-width: 75%;
      font-size: 2em;
      padding: 1em;
      color: #000;
      background-color: rgba(205, 193, 193, 0.5);

      overflow: hidden;
      transform: translateX(105%);
      transition: transform 0.3s ease-out .3s;
      border-radius: .3rem 0 0 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateX(0);
        transition: transform 0.3s ease-out .55s;
      }
    }
  }

  &__pagination{
    display: none;
  }

}

.swiper-slide-active{
  .swiper-full__text{
    &_head{
      transform: translateX(0);
      &:before{
        transform: translateX(105%);
      }
    }
    &_info{
      transform: translateX(0);
      &:before{
        transform: translateX(-105%);
      }
    }
  }
}


@media (max-width: 48em) {
  .swiper-full{
    height: calc( 100vh - 24rem );
    &__text{
      &_head{

      }
      &_info{
        display: none;
      }
    }

    &__pagination{
      display: block;
    }

    .swiper-pagination-bullet{
      width: 3.6rem;
      height: 3.6rem;
      line-height: 3.6rem;
      background-color: $color1;
    }

  }
}