.title{
  font-weight: 700;
  &__section{
    font-size: 3.6rem;
    line-height: 1.5;
    margin-bottom: 7rem;
    text-align: center;
    color: $color7;
    &_indent{
      &-sm{
        margin-bottom: 2rem;
      }
    }

    &-slogan{
      display: block;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0.054rem;
    }
  }
  &__left{
    margin-bottom: 1.8rem;
    letter-spacing: .3rem;
    font-size: 3.6rem;
    font-weight: 600;
  }
  &__page{
    font-size: 4.2rem;
    line-height: 1.5;
    margin-bottom: 7rem;
    color: $color7;
  }

  &-center{
    text-align: center;
  }
}

@media (max-width: 48em) {
  .title{
    &__section{
      font-size: 4.8rem;
    }
  }

}