.title{
  font-weight: 700;
  &__section{
    font-size: 3.6rem;
    line-height: 1.5;
    margin-bottom: 7rem;
    text-align: center;
    //color: #a96700;
    //color: $color1;

    &_indent{
      &-sm{
        margin-bottom: 2rem;
      }
    }
  }


}