.title{
  font-weight: 700;
  &__section{
    font-size: 3.6rem;
    line-height: 1.5;
    margin-bottom: 7rem;
    text-align: center;
    color: $color7;
    &_indent{
      &-sm{
        margin-bottom: 2rem;
      }
    }
  }
  &__page{
    font-size: 4.2rem;
    line-height: 1.5;
    margin-bottom: 7rem;
    color: $color7;
  }

  &-center{
    text-align: center;
  }
}

@media (max-width: 48em) {
  .title{
    &__section{
      font-size: 4.8rem;
    }
  }

}