.for-you{
  padding: 8rem 0;
  background-image: url("../img/for-you/bg-for-you.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 48em) {
  .for-you{
    padding: 5rem 3rem;
  }
}