.for-you{
  padding: 8rem 0;
  //background: radial-gradient(97.48% 55.75% at 50% 50%, rgba(255, 252, 252, 0) 0.31%, #FFFCFC 100%);
  background-image: url("../img/for-you/bg-for-you.png");
  background-repeat: no-repeat;
  background-size: cover;
}