.hero2{
  &__photo{
    background-color: red;
    &_n1{
      width: 71.5rem;
    }
    &_n2{
      width: 34.5rem;
    }
    &_n3{
      width: 34.5rem;
    }
    &_n4{
      width: 34.5rem;
    }
  }
}