.principle{

    &__wrapper{
        position: relative;
    }

    &__item{
        width: 23.8rem;
        height: 16rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.3rem;

        border: 0.5rem solid #FDD7D7;

        &-img{
            height: 8rem;
            img{
                width: auto;
            }
        }

        &-title{
            font-size: 1.8rem;
        }
    }

    &__info{

    }
}