section.recommended
    .hero-promo__bg
        picture
            img(src=require(`../../img/promo/recommended/bg.jpg`) alt="Кухня кухмастер Саратов") 
    .container
        .title
            h2.title__section
                span 90 % 
                |клиентов