- 
    let tabs = [
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ],
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ],
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ],
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ]
    ]   


- const kitchens = ['Прямые', 'Угловые', 'С островком', 'П-образные']

.cases
    .container
        .title
            h2.title__section Кухни, изготовленные для наших клиентов
                .cases__desc За 20 лет произвели более 13000 кухонь
    .cases__switcher
        each kitchen in kitchens
            button(type='button').case__mode= kitchen
    .container
        .cases__wrapper 
            each tab in tabs
                .cases__tab 
                    each item, index in tab
                        .case 
                            img(src=`../img/cases/${index + 1}.png` alt='Наши проекты — вариант кухни').case__img
                            .case__desc
                                p.case__term= item.term
                                p.case__date= item.date
                                p.case__price= item.price + '₽'
        .button(type='button').cases__more.button__crooked Ещё проекты