- 
    let tabs = [
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ],
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ],
        [
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
            {
                'term': '14 дней',
                'date' : '21.04.2022',
                'price' : '185 000'
            },
        ]
    ]   

.cases
    .container
        .title
            h2.title__section Кухни, изготовленные для наших клиентов
        .cases__wrapper
            each tab in tabs
                .cases__tab 
                    each item, index in tab
                        .case 
                            img(src=`../img/cases/${index + 1}.png` alt='Наши проекты — вариант кухни').case__img
                            .case__desc
                                p.case__term= item.term
                                p.case__date= item.date
                                p.case__price= item.price + '₽'