section.for-client
    .container
        .wrapper
            .for-client__text
                .title
                    h2.title__section.title__section_indent-sm Дорогие наши клиенты!
                .for-client__description Я профессионально занимаюсь кухнями с 2000 года. За это время более 10 000 клиентов получили свои долгожданные проекты воплощенные в реальность. Если измерить мой опыт в цифрах, то получится так:
                    ul.for-client__description-list
                        li 21 год работы, 18 из которых в "Кухмастер";
                        li более 10 000 изготовленых кухонь;
                        li люблю точность и отлично знаю свое дело;
                        li каждый третий возвращается за кухнями для родственников, или за обновлением.
            .for-client__person
                .for-client__img
                    img(src="./img/person/bazarova.jpg" alt="Базарова Л.")
                .for-client__person-name Людмила Базарова
                .for-client__person-description Основатель салона кухонной мебели Кухмастер (Саратов)

