.form-consultation
    .title
        .title__section Запросить бесплатную консультацию
    .container
        form(action="#" ethod="POST" name="form-consultation-name" class="form-consultation__items")
            .form-consultation__item
                input(type="text" placeholder="Ваше имя" required="")
            .form-consultation__item
                input(type="tel" placeholder="Ваш телефон" required="")
            div
                input(type="submit" value="Отправить" class="button__crooked")