-
    let order = [
        {
            'title': 'Оставьте заявку',
            'text': 'любым удобным для вас способом: WhatsApp. Viber',
            'src':'./img/home/how-to-order/svg/how-to-order-1.svg',
            'alt': 'Оставьте заявку'
        },
        {
            'title': 'С вами свяжется специалист,',
            'text': 'чтобы узнать подробности вашего запроса. Вы получаете предварительную стоимость проекта (если он у вас есть), ответы на ваши вопросы, записываетесь вас на бесплатный замер или консультацию, получаете примеры реализованных проектов.',
            'src': './img/home/how-to-order/svg/how-to-order-2.svg',
            'alt': 'С вами свяжется специалист'
        },
        {
            'title': 'В салоне утверждаете итоговый проект,',
            'text': 'подписываете договор, вносите удобным способом предоплату в размере 50% от стоимости кухонного гарнитура. Оставшаяся часть вносится непосредственно после изготовления мебели, перед ее установкой.',
            'src': './img/home/how-to-order/svg/how-to-order-3.svg',
            'alt': 'В салоне утверждаете итоговый проект'
        },
    ]

.how-to-order
    .container
        .title
           h2.title__section Как заказать кухню в фирме “Кухмастер” (Саратов)?
        .cards2
            each item in order
                .card2.card2__img-bottom
                    .card2__title !{item.title}
                    .card2__text !{item.text}
                    .card2__img_bottom
                        img(src=item.src alt=item.alt)
