block ../../component/vars

.about-front
    .container
        .title
            h1.title__page.title-center.title__section  Салон кухонной мебели КУХМАСТЕР

        .wrapper
            .about-front__text
                h2.title__left Купить недорогую кухню в Саратове - значит,обратиться в "Кухмастер"
                p Где сделать заказ кухни в Саратове, да еще недорого, без лишних хлопот, и желательно модную, современную? И самое важное - чтобы качество было на высоте, чтобы с вами при составлении заказа общались не просто вежливо, а от души, доброжелательно. Думаете, нет таких мест в Саратове? А вот загляните в салон "Кухмастер"!
            .about-front__img
                .about-front__img-logo
                    span.logo.header__site-logo
                        img(src=require('/logo.svg'), alt="логотип Кухмастер")
                    span.header__site-name #{name_site}