block variables
    -
        const name_site = "Кухмастер";
        const slogan_site_1 = "Производство, установка,";
        const slogan_site_2 = "доставка кухонь в Саратове"

        const data = {
            'phone': '+7 (987) 376-07-88',
            'phone_href': 'tel:+79873760788',
            'email': 'kuhmasters@yandex.ru',
            'email_href': 'mailto:kuhmasters@yandex.ru',
        };

        const main_menu = [
            {
                "name": 'Главная',
                "href": '/',
            },
            {
                "name": 'О нас',
                "href": 'about.html',
            },
            {
                "name": 'Как заказать',
                "href": '#',
            },
            {
                "name": 'Наши работы',
                "href": '#',
            },
            {
                "name": 'Отзывы клиентов',
                "href": '#',
            },
            {
                "name": 'Контакты',
                "href": '#',
            },
            {
                "name": 'Статьи',
                "href": '#',
            },
        ];