block variables
    -
        const data = {
            'name_site': 'Кухмастер2',
            'slogan_site_1': 'Производство, установка,',
            'slogan_site_2': 'доставка кухонь в Саратове,',
            'phone': '+7 (987) 376-07-88',
            'phone_href': 'tel:+79873760788',
            'email': 'kuhmasters@yandex.ru',
            'email_href': 'mailto:kuhmasters@yandex.ru',
        };

        const main_menu = [
            {
                "name": 'Главная',
                "href": '#',
                "active": '_active',
            },
            {
                "name": 'О нас',
                "href": '#',
            },
            {
                "name": 'Как заказать',
                "href": '#',
            },
            {
                "name": 'Наши работы',
                "href": '#',
            },
            {
                "name": 'Отзывы клиентов',
                "href": '#',
            },
            {
                "name": 'Контакты',
                "href": '#',
            },
            {
                "name": 'Статьи',
                "href": '#',
            },
        ];