extends ../layout/main

block variables_layout
    -
        let title = 'О нас'
        let curPage = 'about.html'
block content
    main
        include ../section/about/about-front

        section
            .youtube_video
                .video-block__youtube
                    .video-block__inner
                        picture
                            source(srcset="https://img.youtube.com/vi_webp/k0ZqNL56n_E/maxresdefault.webp" type="image/webp")
                            img(class="video-block__content" src="https://img.youtube.com/vi/k0ZqNL56n_E/maxresdefault.jpg" alt="")

                        button(class="video-block__button" data-video-id="k0ZqNL56n_E")
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>






        .cards3
            .card3
                .youtube_video
                    .video-block__youtube
                        .video-block__inner
                            picture
                                source(srcset="https://img.youtube.com/vi_webp/k0ZqNL56n_E/maxresdefault.webp" type="image/webp")
                                img(class="video-block__content" src="https://img.youtube.com/vi/k0ZqNL56n_E/maxresdefault.jpg" alt="")

                            button(class="video-block__button" data-video-id="k0ZqNL56n_E")
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>

            .card3
                .vimeo_video
                    .video-block
                        .video-block__inner
                            picture
                                img(class="video-block__content" src="https://vumbnail.com/122228914.jpg" alt="")

                            button(class="video-block__button" data-video-id="k0ZqNL56n_E")
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>

