extends ../layout/main

block variables_layout
    -
        let title = 'О нас'
        let curPage = 'about.html'
block content
    main
        .container
            .title
                h1.title__page О нас

            .title
                h2.title-center Салон кухонной мебели КУХМАСТЕР
