extends ../layout/main

block variables_layout
    -
        let title = 'О нас'
        let curPage = 'about.html'
block content
    main
        include ../section/about/about-front

        section.about__video-info
            .container
                .cards3
                    .card3
                        div.title__left История компании
                        picture
                            img(src='./img/page/about/video-info/company-history.jpg' alt='История компании')
                    .card3
                        h2.title__left О производстве
                        picture
                            img(src='./img/page/about/video-info/production.jpg' alt='О производстве')
        
        section.for-client.for-client__about.img-back__family
            .container
                .wrapper
                    .for-client__text
                        .title
                            h2.title__section.title__section_indent-sm Зачем вам идти в "Кухмастер"?
                        .for-client__description 10 лет мы работаем на мебельном рынке г.Саратова. Все эти годы мы носили другое название - «Пензенская мебель». И с этим именем заработали свой авторитет. За эти годы мы выполнили большое число заказов и наработали огромный опыт. Наши специалисты и мастера стали настоящими профессионалами своего дела. И мы с полным основанием гарантируем покупателям самое высокое качество работы. «Кухмастер» - наше новое имя. Мы продолжаем делать для вас кухни. Мы и дальше создаем красивую, качественную и недорогую кухонную мебель. Имя нашего бренда говорит само за себя.


        section.for-client.for-client__about
            .container
                .wrapper
                    .for-client__text
                        .title
                            h2.title__section.title__section_indent-sm Мы мастера своего дела
                        .for-client__description У нас вы получите любые разъяснения о производстве наших кухонь, совет о выборе цветовой гаммы и материала для фасада, проконсультируем вас даже о тонкостях кухонного ремонта. При этом, мы категорически не приемлем модную сегодня практику «навязчивого внимания» к покупателю. Мы мастера по изготовлению кухонной мебели на заказ и купить у нас ее может каждый.



        //- section
        //-     .youtube_video
        //-         .video-block__youtube
        //-             .video-block__inner
        //-                 picture
        //-                     source(srcset="https://img.youtube.com/vi_webp/k0ZqNL56n_E/maxresdefault.webp" type="image/webp")
        //-                     img(class="video-block__content" src="https://img.youtube.com/vi/k0ZqNL56n_E/maxresdefault.jpg" alt="")

        //-                 button(class="video-block__button" data-video-id="k0ZqNL56n_E")
        //-                     <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>






        //- .cards3
        //-     .card3
        //-         .youtube_video
        //-             .video-block__youtube
        //-                 .video-block__inner
        //-                     picture
        //-                         source(srcset="https://img.youtube.com/vi_webp/k0ZqNL56n_E/maxresdefault.webp" type="image/webp")
        //-                         img(class="video-block__content" src="https://img.youtube.com/vi/k0ZqNL56n_E/maxresdefault.jpg" alt="")

        //-                     button(class="video-block__button" data-video-id="k0ZqNL56n_E")
        //-                         <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>

        //-     .card3
        //-         .vimeo_video
        //-             .video-block
        //-                 .video-block__inner
        //-                     picture
        //-                         img(class="video-block__content" src="https://vumbnail.com/122228914.jpg" alt="")

        //-                     button(class="video-block__button" data-video-id="k0ZqNL56n_E")
        //-                         <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-play-btn-fill" viewBox="0 0 16 16"> <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/> </svg>

