include _mixin
include component/_social



doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'КУХМАСТЕР'
    body
        include component/_header
        main
        include component/_footer















