extends layout/main

block variables_layout
    -
        let title = 'Главная страница'
block content

    main
        include section/hero
        include section/for_client
        include section/for_you





















