.contacts{
  &__item{
    list-style: none;
    &:not(:last-child){
      margin-right: 2rem;
    }
  }

  &__link{
    display: flex;
    align-items: center;
    &:hover{
      .contacts__text{
        color: $color1;
      }
      .contacts__ico{
        svg{
          fill: $color1;
        }
      }
    }
  }

  &__ico{
    display: flex;
    margin-right: .5rem;
    svg{
      width: 2rem;
      height: 2rem;
      fill: $color2;
      transition: fill .5s;
    }
  }

  &__text{
    color: $color2;
    transition: color .5s;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 132%;

  }
}