.contacts{
  &__item{
    list-style: none;
    &:not(:last-child){
      margin-right: 2rem;
    }
  }

  &__link{
    display: flex;
    align-items: center;
  }

  &__ico{
    display: flex;
    margin-right: .5rem;
    svg{
      width: 2rem;
      height: 2rem;
      fill: $color2;
      transition: fill .5s;
    }

    &_white{
      margin-right: 1rem;
      svg{
        fill: white;
      }
    }
  }

  &__text{
    color: $color2;
    transition: color .5s;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 132%;

    &_white{
      font-weight: 400;
      color: white;
    }
  }
}

@media (max-width: 48em) {
  .contacts{
    &__text{
      font-size: 3.2rem;
    }
    &__ico{
      margin-right: 2rem;
      svg{
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

@media (min-width: 48em) {
  .contacts{
    &__link{
      &:hover{
        .contacts__text{
          color: $color1;
          &_white{
            color: white;
          }
        }
        .contacts__ico{
          svg{
            fill: $color1;
          }
          &_white{
            svg{
              fill: white;
            }
          }
        }
      }
    }
  }
}