.header{

  //background: red;

  .container{
    height: 5rem;
    //background: gray;
    display: flex;


  }

  &__item{
    flex-grow: 1;
    display: flex;
    align-items: center;

    &:nth-child(2){
      justify-content: center;
    }
    &:nth-child(3){
      justify-content: flex-end;
    }

  }

  &__contacts{
    display: flex;
    padding:0;
    &_item{
      margin-right: 3.5rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__site-name{
    color: #8d735f;
    font-size: 1.8rem;
  }
}

.bg{
  &__aqua{
    background: aqua;
  }

  &__coral {
    background: coral;
  }

}

