.header{

  .container{
    height: 9rem;
    display: flex;
  }

  &__top{
    padding: 1rem 0;
  }

  &__item{
    display: flex;
    align-items: center;
    &:last-child{
      margin-left: auto;
    }
  }

  &__contacts{
    display: flex;
    padding:0;
    &_item{
      margin-right: 3.5rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__site{
    display: flex;
    margin-right: 11.5rem;
    &-logo{
      width: 6.6rem;
      height: 6.6rem;
      background-color: $color1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 3.6rem;
        height: 5.5rem;
      }
    }
    &-name{
      padding-left: 1rem;
      font-weight: bold;
      color: $color1;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
    }
  }


  &__slogan{
    //font-size: 1.8rem;
    //font-family: 'Merriweather',sans-serif;
    //font-style: italic;
   // font-weight: 700;
    //line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
    //color: #16213F;
    color: #360405;

    //font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 132%;
    padding-left: 1rem;
    border-left: .4rem solid $color1;


  }
}

//.telegram{
//  svg{
//    fill: transparent;
//    stroke: #000;
//  }
//}


