.header{

  .container{
    height: 5rem;
    display: flex;
  }

  &__top{
    padding: 1rem 0;
  }

  &__item{
    flex-grow: 1;
    width: 33%;
    display: flex;
    align-items: center;

    &:nth-child(2){
      justify-content: center;
    }
    &:nth-child(3){
      justify-content: flex-end;
    }

  }

  &__contacts{
    display: flex;
    padding:0;
    &_item{
      margin-right: 3.5rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__site-name{
    font-weight: bold;
    color: $color1;
    font-size: 1.8rem;
  }

  &__slogan{
    font-size: 1.8rem;
    font-family: 'Merriweather',sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #16213F;


  }
}

//.telegram{
//  svg{
//    fill: transparent;
//    stroke: #000;
//  }
//}


