.section{
    &__info{
        &-text{
            font-size: 1.8rem;
        }

        &-container_standart{
            width: 83.5rem;
        }
    }

    &__icon-bottom{
        &::before{
            content: "";
            display: block;
            position: absolute;
            bottom: -0.1rem;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top center;
        }
        &_auto{
            &:before{
                height: 7.8rem;
                background-image: url("../img/svg/section/auto.svg");
            }
        }
        &_family {
            &::before{
                height: 17.2rem;
                background-image: url(../img/svg/section/family.svg);
            }
        }  

        &_family2 {
            &::before {
                height: 24.9rem;
                background-image: url(../img/svg/section/family2.svg);
            }
        }
        
        &_pen-paper {
            &::before {
                height: 13.3rem;
                background-image: url(../img/svg/section/pen-paper.svg);            
            }
        }
                    
    }
}