*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

html {
    //font-family: 'Open Sans', sans-serif;
    //font-size: 0.52vw;  //на разрешении 1920 0.52vw === 10px
    //font-size: 0.74vw;

    //на разрешении 1350 0.74vw === 10px
    //10/(1350/100)
    //10/1920/100)
    //10/1440/100 -> 0,694(4)
    //font-size: 0.5208vw;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size:0.69vw;

    -webkit-animation: bugfix infinite 1s;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

body {
    -webkit-animation: bugfix infinite 1s;
    margin: 0;
    padding: 0;
    color: #000; // цвет по умолчанию текста по сайту
    background-color: #fff; //
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
}

a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: inherit;
}

ul {
    padding: 0 0 2rem 0;
    margin: 0;
    font-size: 1.4rem;

}

ul li {
    margin: 0;
    padding: 0;
    line-height: 150%;
    list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    width: 144rem;
    margin: 0 auto;
}



@media (max-width: 48em) {
    html {
        font-size: 1.5625vw;
        // font-size: 5/(320/100); // где 320 это ширина моб версии макета
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 20em) {
    html {
        font-size: 5px;
    }
}

@media (min-width: 48em) {

}

@media (min-width: 90em) { //1440

    html {
        font-size:10px;
    }

}