@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.social2{
  display: inline-flex;
  padding: 0;

 &__item{
   list-style: none;
   margin-left: 0;
 }

  &__link{
      position: relative;
      border-radius: 50%;
      padding: 1.5rem;
      margin-left: 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__tooltip {
    position: absolute;
    top: 0;
    background: #ffffff;
    color: #ffffff;
    padding: .4rem .64rem;
    border-radius: .4rem;
    box-shadow: 0 .6rem .6rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1.2rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  &__ico{
    display: flex;
    svg{
      width: 2.32rem;
      height: 2.32rem;
      fill: #140202;
      transition: fill .5s;
    }
  }
}

@media (max-width: 48em) {

  .social2{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 0 auto;


    &__ico{
      display: flex;
      svg{
        width: 5.6rem;
        height: 5.6rem;
        fill: #140202;
        transition: fill .5s;
      }
    }


  }

}


@media (min-width: 48em) {
  .social2{
    &__link{
      &:hover {
        .social2__tooltip {
          top: -3.6rem;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          text-shadow: 0 -.1rem 0 rgba(0, 0, 0, 0.1);
          &:before {
            color: #ffffff;
          }
        }
        svg {
          fill: #fff;
        }
      }

      &.viber{
        &:hover {
          background-color: #7360F2;
          .social2__tooltip {
            background-color: #7360F2;
            &:before {
              background-color: #7360F2;
            }
          }
        }
      }
      &.whatsapp{
        &:hover {
          background-color: #61CE70;
          .social2__tooltip {
            background-color: #61CE70;
            &:before {
              background-color: #61CE70;
            }
          }
        }
      }
      &.vk{
        &:hover {
          background-color: #0077ff;
          .social2__tooltip {
            background-color: #0077ff;
            &:before {
              background-color: #0077ff;
            }
          }
        }
      }
      &.telegram{
        &:hover {
          background-color: #3390ec;
          .social2__tooltip {
            background-color: #3390ec;
            &:before {
              background-color: #3390ec;
            }
          }
        }
      }
      &.ok{
        &:hover {
          background-color: #ed812b;
          .social2__tooltip {
            background-color: #ed812b;
            &:before {
              background-color: #ed812b;
            }
          }
        }
      }
    }


  }
}