.social{
  display: flex;
  align-items: center;
  padding: 0;
  &__item{
    line-height:1;
    &:not(:last-child){
      margin-right: 1rem;
    }
  }
  &__link{
    svg{
      width: 2.9rem;
      height: 2.9rem;
    }
  }
}

@media (hover: hover) {
  .social{
    &__link{
      svg{
        transition: transform .2s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}