.menu{
  padding-top: 1rem;
  padding-bottom: 1rem;
  //box-shadow: inset .03rem .6rem .7rem 0 rgba(0, 0, 0, 0.1);
  //background-color: #eaeaea;
  background-color: $color3;

  .container{
    height: 100%;
  }

  &__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    &:before {
      flex: 1;
      content: '';
    }
  }

  .social2{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__list{
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__item{
    list-style: none;
    margin: 0;
    height: 4rem;
    padding: 1rem;
  }

  &__link{
    position: relative;
    transition: color .5s;
    font-size: 1.8rem;
    padding: 1rem 0;

    &:after{
      position: relative;
      content: '';
      background-color: $color1;
      transition: width  0.3s, left 0.3s;
      width: 0;
      left: 50%;
    }

    &._active{
      color: $color1;
      &:after{
        height: 2px;
        bottom: -4px;
        display: block;
        width: 100%;
        left: 0;
      }
    }

    &:hover{
      color: $color1;
      &:after{
        height: 2px;
        bottom: -4px;
        display: block;
        width: 100%;
        left: 0;
      }
    }


  }
}