doctype html
block variables_layout
block vars
    include ../component/variable

html(lang= 'ru')
    head
        meta(charset='utf-8')
        title #{title}
    body
        include ../component/header
        block content
        include ../component/footer